.s{
    text-align: center;
}
nav{
    display :flex;
    justify-content:  space-around;
    align-items :center;
    min-height : 10vh;
    background:rgb(0, 2, 128);
    color: wheat;
}
.nav-links{
    width: 50%;
    display :flex;
    justify-content:  space-around;
    align-items :center;
    list-style:  none;
}
